{% load static %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active ml-2">
            <a class="nav-link mr-5" href="{% url 'EST_MainVinne:est_main'%}">Avaleht<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-5">
            <a class="nav-link" href="{% url 'EST_MainVinne:est_skeemer'%}">Elektron Skeemer</a>
        </li>
        <li class="nav-item mx-5">
            <a class="nav-link" href="{% url 'EST_MainVinne:est_harjutama'%}">Harjutamine</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"action = "{% url 'EST_MainVinne:est_search' %}" method = "post" >
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Elemendi otsing" aria-label="Search" name = "query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Otsing</button>
    </form>
    <a class="nav-link ml-4" href="">ENG</a>
    <a class="nav-link ml-4 " href="{% url 'EST_MainVinne:est_main'%}">EST</a>
    <a class="navbar-brand ml-4">
        <img src="{% static 'MainVinne/VinneImages/download.jpg' %}" width="30" height="35" alt="">
    </a>
</nav>
